@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
          
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #f6f8fc;

}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

/* h1{
    display: block;
    justify-content: space-between;
    text-align: center;
    }

h1 img{
    margin-left: 10px;

} */

h1 {
    font-family: 'Pokemon Hollow', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    animation: slideIn 1s forwards;
}
h1 img {
    margin-left: 10px; 
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}